# Xcode
build/
DerivedData/
.ci-derived/
*.xcuserstate
*.xcuserdatad
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxproj.backup_*
*~.nib

# macOS
.DS_Store

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods (in case)
Pods/

# Carthage
Carthage/Build/
